div#index(data-role='page')
  div(data-role='header')
    h1 Memo
    a.ui-btn-right(href='#add', data-icon='plus') Add

  div(data-role='content')
    ul#memolist(data-role='listview', data-inset='true')
      - for(var index=0; index<memos.length; index++) {
        li
          a(href='#view', id=memos[index]._id)
            p=memos[index].content
      - }

  div.ui-bar(data-role='footer', data-position='fixed')
    a(href='#info-dialog', data-icon='info', data-rel='dialog') About

div#add(data-role='page')
  div(data-role='header')
    a(data-rel='back', data-icon='back', data-derection='reverse') Back
    h1 Memo Add
    a(href='#add', data-icon='plus') Add

  div(data-role='content')
    div(data-role='filedcontain')
      label(for='memo-add') Memo
      textarea#memo-add

  div.ui-bar(data-role='footer', data-position='fixed')
    a#save-abtn(href='#', data-icon='check') Save

div#view(data-role='page')
  div(data-role='header')
    a(data-rel='back', data-icon='back', data-derection='reverse') Back
    h1 Memo View
    a(href='#add', data-icon='plus') Add

  div(data-role='content')
    div(data-role='filedcontain')
      label(for='memo-view') Memo
      p#memo-view

  div.ui-bar(data-role='footer', data-position='fixed')
    div(data-role='controlgroup', data-type='horizontal')
      a(href='#edit', data-icon='gear', data-transition='flip') Edit
      a(href='#confirm-dialog', data-icon='delete', data-rel='dialog') Delete

div#edit(data-role='page')
  div(data-role='header')
    a(data-rel='back', data-icon='back', data-derection='reverse') Back
    h1 Memo Edit
    a(href='#add', data-icon='plus') Add

  div(data-role='content')
    div(data-role='filedcontain')
      label(for='memo-edit') Memo
      textarea#memo-edit

  div.ui-bar(data-role='footer', data-position='fixed')
    a#save-ebtn(href='#', data-icon='check') Save

div#msg-dialog(data-role='page')
  div(data-role='header')
    h1 Message
  div(data-role='content')
    p#message
    a(href='#index', data-role='button') OK

div#info-dialog(data-role='page')
  div(data-role='header')
    h1 About
  div(data-role='content')
    p
    | This is a RESTful Memo Application using Node.js, jQuery Mobile, MongoDB, mongoose, express and jade.

div#confirm-dialog(data-role='page')
  div(data-role='header')
    h1 Confirm
  div(data-role='content')
    p Are you sure you want to delete the item?
    a#del-btn(href='#', data-role='button') Delete

script
  var mstore = {};

  $(function() {
    $("#memolist").delegate('a', 'click', function(e) {
      mstore.selectedid = this.id;
    });

    $("#index").bind('pagebeforeshow', function(e, ui) {
      $.get(
        'memo/list'
        , function(data) {
            $("#memolist").empty();
            for(var index=0; index < data.length; index++) {
              $("#memolist").append('<li><a href="#view" id="' + data[index]._id + '"><p>' + data[index].content + '</p></a></li>');
            }
            $("#memolist").listview('refresh');
          }
        );
    });

    $("#add").bind('pagebeforeshow', function(e, ui) {
      $("#memo-add").val(' ');
    });

    $("#view").bind('pagebeforeshow', function(e, ui) {
      $("#memo-view").html(' ');
      $.get(
        'memo/' + mstore.selectedid
        , function(data) {
            $("#memo-view").html(data.content);
          }
        );
    });

    $("#edit").bind('pagebeforeshow', function(e, ui) {
      $("#memo-edit").val(' ');
      $.get(
        'memo/' + mstore.selectedid
        , function(data) {
            $("#memo-edit").val(data.content);
          }
        );
    });

    $("#save-abtn").bind('click', function(e) {
      $.post(
        'memo'
        , { content : $("#memo-add").val() }
        , onSuccess
        , 'json'
      );
    });

    $("#save-ebtn").bind('click', function(e) {
      $.ajax({
        type : 'PUT'
        , url : 'memo/' + mstore.selectedid
        , data : { content : $("#memo-edit").val() }
        , success : onSuccess
        , dataType : 'json'
      });
    });

    $("#del-btn").bind('click', function(e) {
      $.ajax({
        type : 'DELETE'
        , url : 'memo/' + mstore.selectedid
        , success : onSuccess
      });
    });

    function onSuccess(data) {
      $("#message").html(data.message);
      $.mobile.changePage('#msg-dialog', {transition : 'slidedown', role : 'dialog'});
    };
  });
